.profile-card {
    background-color: rgb(65, 90, 119);
    width: 300px;
    height: 400px;
    padding: 60px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px black;
    text-align: center;
    margin-left: 100px;
}


.profile-card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 15px;
    object-fit: cover;
}

.profile-card h2 {
    font-size: 20px;
    margin-bottom: 5px;
}

.profile-card hr {
    width: 40px;
    height: 3px;
    background-color: #0073e6;
    margin: 10px auto;
    border: none;
}

.profile-card p {
    font-size: 16px;
    color: #666;
}

/* .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: black;
  }
  
  .fa:hover {
    opacity: 0.7;
  } */

.social-links {
    width: 100%;
    margin-bottom: 5px;
    background-color: #fff;
}

.social-links a {
    margin: 0 10px;
    color: #0073e6;
    text-decoration: none;
    font-size: 20px;
}

.social-links a:hover {
    color: #000000;
}